<div>
  <div>Posts every week:</div>
  <div style="
  display: inline-grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    column-gap: 4px;
  ">
    <span>Sun</span>
    <span>Mon</span>
    <span>Tue</span>
    <span>Wed</span>
    <span>Thu</span>
    <span>Fri</span>
    <span>Sat</span>
    <% count_options = [0, 1, 2, 3, 4, 5] %>
    <%= select_tag :sun_count, options_for_select(count_options, sun_count) %>
    <%= select_tag :mon_count, options_for_select(count_options, mon_count) %>
    <%= select_tag :tue_count, options_for_select(count_options, tue_count) %>
    <%= select_tag :wed_count, options_for_select(count_options, wed_count) %>
    <%= select_tag :thu_count, options_for_select(count_options, thu_count) %>
    <%= select_tag :fri_count, options_for_select(count_options, fri_count) %>
    <%= select_tag :sat_count, options_for_select(count_options, sat_count) %>
  </div>
  <div id="schedule_empty_error" style="display: none; color: red">Select at least some days</div>
  <script>
      {
          let daysOfWeek = ["sun", "mon", "tue", "wed", "thu", "fri", "sat"];

          function validateSchedule() {
              let totalCount = 0;
              daysOfWeek.forEach(day => {
                  totalCount += parseInt(document.getElementById(day + "_count").value);
              });
              let isValid = totalCount > 0;
              <%= js_validate_callback %>(isValid);
              document.getElementById("schedule_empty_error").style.display = isValid ? "none" : "block";
          }

          daysOfWeek.forEach(day => {
              document.getElementById(day + "_count").addEventListener("change", () => validateSchedule());
          });
      }
  </script>
</div>