<div>
  Discovered <%= blog.posts.length %> posts (oldest to newest):
  <br>

  <div id="posts">
    <% ordered_posts = blog.posts.sort_by(&:order) %>
    <% if ordered_posts.length <= 10 %>
      <% ordered_posts.each do |post| %>
        <div style="margin-top: 0.2em;">
          <a href="<%= post.link %>"><%= post.title %></a>
        </div>
      <% end %>
    <% else %>
      <% ordered_posts[...5].each do |post| %>
        <div style="margin-top: 0.2em;">
          <a href="<%= post.link %>"><%= post.title %></a>
        </div>
      <% end %>
      <div style="margin-top: 0.2em;">
        (<%= link_to "#{ordered_posts.length - 10} more",
                     BlogsHelper.posts_path(blog),
                     method: :post,
                     remote: true %>)
      </div>
      <% ordered_posts[-5..].each do |post| %>
        <div style="margin-top: 0.2em;">
          <a href="<%= post.link %>"><%= post.title %></a>
        </div>
      <% end %>
    <% end %>
  </div>

  <div id="confirm_section">
    <% if !blog.looks_wrong %>
      <br>
      <div style="display: flex; gap: 1em;">
        <%= button_to "Continue", BlogsHelper.confirm_path(blog), method: :post %>
        <%= button_to "Looks wrong", BlogsHelper.mark_wrong_path(blog), method: :post, remote: true %>
      </div>
    <% else %>
      <%= render partial: "looks_wrong", locals: { blog: blog } %>
    <% end %>
  </div>
</div>