<div>
  Logged in as <%= current_user.email %>.
  <%= link_to "Log Out", logout_path %>
</div>

<h1>Blogs</h1>

<% if @blogs.length.zero? %>
  <p>Nothing here. Want to add some?</p>
<% end %>

<% @blogs.each do |blog| %>
  <% total_count = blog.posts.count %>
  <% published_count = blog.posts.group(:is_published).count[true] || 0 %>
  <div style="display:flex; justify-content:space-between">
    <span>
      <% if blog.fetch_status == "succeeded" %>
        <%= link_to blog.name, blog %> (<a href="<%= BlogsHelper.feed_url(request, blog) %>">feed</a>)
      <% else %>
        <a href="<%= BlogsHelper.status_url(request, blog) %>"><%= blog.name %></a>
        <% if blog.fetch_status == "in_progress" %>
          (⏳)
        <% else %>
          (❌)
        <% end %>
      <% end %>
    </span>

    <span>
      <span style="margin-right: 1em">
        <% if blog.fetch_status == "succeeded" %>
          <% verb = blog.is_paused ? 'published, paused' : 'published' %>
          <%= published_count %>/<%= total_count %> <%= verb %>
        <% end %>
      </span>
      <%= link_to "Delete", blog_path(blog),
                  method: :delete,
                  data: { confirm: "Delete #{blog.name}?" } %>
    </span>
  </div>
<% end %>

<%= link_to "Add blog", new_blog_path %>