<a href="/blogs">← Go back</a>
<h1>New Blog</h1>
<%= form_for :new_blog, url: "/blogs" do |form| %>
  <div>
    <%= label_tag :blog_name, "Name" %>
    <%= text_field_tag :blog_name %>
    <br>

    <%= label_tag :blog_url, "URL" %>
    <%= url_field_tag :blog_url %>
    <br>

    <h3>Schedule</h3>

    <%= render partial: "schedule", locals: { form: form,
                                              schedule: {
                                                :posts_per_day => 1,
                                                :mon => true,
                                                :tue => true,
                                                :wed => true,
                                                :thu => true,
                                                :fri => true,
                                                :sat => true,
                                                :sun => true,
                                              } } %>

    <%= submit_tag "Save new blog" %>
  </div>
<% end %>