<% if @current_user %>
  <%= link_to "← Dashboard", blogs_path %>
<% else %>
  <%= link_to "← Main page", root_path %>
<% end %>
<h1><%= @blog.name %></h1>
<div style="overflow-wrap: break-word">
  <% if @blog.status == "crawl_in_progress" %>
    <%= render partial: "setup_crawl_in_progress", locals: { blog: @blog } %>
  <% elsif @blog.status == "crawl_failed" %>
    <%= render partial: "setup_failed", locals: { blog: @blog } %>
  <% elsif @blog.status == "crawled" %>
    <%= render partial: "setup_confirm", locals: { blog: @blog } %>
  <% elsif @blog.status == "confirmed" %>
    <%= render partial: "setup_set_schedule", locals: { blog: @blog } %>
  <% else %>
    <%= render partial: "setup_heres_feed", locals: { blog: @blog } %>
  <% end %>
</div>
