<%= link_to "â† Dashboard", blogs_path %>
<h1><%= @blog.name %></h1>
<div>URL: <a href="<%= @blog.url %>"><%= @blog.url %></a></div>
<div>Private feed:
  <a data-turbolinks="false" href="<%= BlogsHelper.feed_url(request, @blog) %>"><%= BlogsHelper.feed_url(request, @blog) %></a>
  <button id="copy_button">Copy</button>
  <script>
      document.getElementById("copy_button").addEventListener("click", () => {
          navigator.clipboard.writeText("<%= BlogsHelper.feed_url(request, @blog) %>");
      });
  </script>
</div>
<% total_count = @blog.posts.count %>
<% published_count = @blog.posts.group(:is_published).count[true] || 0 %>
<div>Published: <%= published_count %>/<%= total_count %></div>
<div>
  Status:
  <% if published_count < total_count %>
    <% if @blog.is_paused %>
      Paused
      <%= button_to "Activate", method: :post, action: :unpause %>
    <% else %>
      Active
      <%= button_to "Pause", method: :post, action: :pause %>
    <% end %>
  <% else %>
    All done
  <% end %>
</div>
<br>

<% if published_count < total_count %>
  <%= form_tag({ :controller => :blogs, :action => :update, :id => @blog.id }, { :method => :put }) do %>
    <script>
        function onValidateSchedule(isValid) {
            let saveButton = document.getElementById("save");
            saveButton.disabled = !isValid;
        }
    </script>
    <%= render partial: "schedule", locals: {
      sun_count: @blog.schedules.find_by(day_of_week: "sun").count,
      mon_count: @blog.schedules.find_by(day_of_week: "mon").count,
      tue_count: @blog.schedules.find_by(day_of_week: "tue").count,
      wed_count: @blog.schedules.find_by(day_of_week: "wed").count,
      thu_count: @blog.schedules.find_by(day_of_week: "thu").count,
      fri_count: @blog.schedules.find_by(day_of_week: "fri").count,
      sat_count: @blog.schedules.find_by(day_of_week: "sat").count,
      js_validate_callback: "onValidateSchedule"
    }
    %>

    <%= submit_tag "Save", id: "save" %>
  <% end %>
<% end %>
