<div class="flex flex-col gap-6 mb-6">
  <div class="flex flex-col gap-1">
    <% if @current_user %>
      <%= link_to "← Dashboard",
                  subscriptions_path,
                  class: "text-sm link-secondary"
      %>
    <% else %>
      <%= link_to "← Main page",
                  root_path,
                  class: "text-sm link-secondary"
      %>
    <% end %>

    <h2 class="break-word"><%= @blog.name %></h2>
  </div>

  <div>
    <p>
      FeedRewind supports over 80% of blogs, but unfortunately not this one.
    </p>
    <p>Would you like to try another blog?</p>
  </div>

  <div class="flex flex-row gap-4">
    <%= link_to "Try another",
                "/subscriptions/add",
                class: "btn"
    %>
    <%= link_to "Go back",
                @current_user ? "/subscriptions" : "/",
                class: "btn"
    %>
  </div>
</div>