<h1>FeedRewind</h1>
<% if current_user %>
  <%= link_to "Dashboard", subscriptions_path %>
<% else %>
  <%= link_to "Sign Up", signup_path %> or
  <%= link_to "Log In", login_path %>
<% end %>
<p>FeedRewind is great and you should use it!</p>
Try it out:
<% if @subscription %>
  <div>
    <%= link_to "Continue with #{@subscription.name}", SubscriptionsHelper.setup_path(@subscription) %>
    or
    <%= link_to "discard", "/discard", method: :post %>
  </div>
<% else %>
  <%= form_with url: "subscriptions/add", method: :post do |form| %>
    <div>
      <%= form.url_field :start_url, placeholder: "Feed or blog link" %>
      <%= form.submit "Go" %>
    </div>
  <% end %>
<% end %>
