<div class="min-h-screen p-6 pb-14 flex flex-col gap-6">
  <header class="flex flex-row gap-x-6 gap-y-2 flex-wrap justify-between items-center">
    <h1 class="text-4xl">
      <a href="/" class="hover:cursor-pointer">FeedRewind</a>
    </h1>
    <div class="flex flex-row gap-2">
      <%= link_to "Sign in", login_path, class: "text-sm text-slate-700 border border-gray-300 hover:border-slate-900 rounded-full px-3 py-1.5 hover:cursor-pointer" %>
      <%= link_to "Sign up", signup_path, class: "text-sm text-white bg-slate-700 hover:bg-slate-900 rounded-full px-3 py-1.5 hover:cursor-pointer" %>
    </div>
  </header>
  <main class="flex-1 flex flex-col gap-16 mt-6">
    <h1 class="text-xl 3xs:text-2xl xs:text-3xl sm:text-4xl md:text-5xl font-extrabold flex flex-col headline">
        <span>Read that
          <span class="relative">
            <span class="word word1">blog</span>
            <span class="word word2">newsletter</span>
            <span class="word word3">webcomic</span>
          </span>
        </span>
      <span>you keep returning to.</span>
      <span>At your own pace.</span>
    </h1>

    <ul class="flex flex-row flex-wrap gap-x-6 gap-y-1">
      <li class="flex flex-row gap-0.5 items-center">
        <!-- check-circle icon -->
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-green-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"/>
        </svg>
        Any feed (almost)
      </li>
      <li class="flex flex-row gap-0.5 items-center">
        <!-- check-circle icon -->
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-green-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"/>
        </svg>
        Your schedule
      </li>
      <li class="flex flex-row gap-0.5 items-center">
        <!-- check-circle icon -->
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-green-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"/>
        </svg>
        Via email or RSS
      </li>
    </ul>

    <div class="flex flex-col gap-1">
      <div class="font-semibold">Try it out:</div>
      <% if @subscription %>
        <div>
          <%= link_to "Continue with #{@subscription.name}",
                      SubscriptionsHelper.setup_path(@subscription),
                      class: "link"
          %>
          or
          <%= link_to "try another feed",
                      "/discard",
                      method: :post,
                      class: "link"
          %>
        </div>
      <% else %>
        <%= form_with url: "subscriptions/add",
                      method: :post,
                      html: { novalidate: true } do |form| %>
          <div class="flex flex-row w-[480px] max-w-full">
            <%= form.url_field :start_url,
                               placeholder: "Feed or blog link",
                               autocomplete: "off",
                               class: "border border-slate-700 rounded-l-md w-full focus:ring-transparent focus:shadow-none"
            %>
            <button id="discover_go"
                    type="submit"
                    class="btn-no-disable rounded-l-none border border-slate-700 rounded-r-md focus:ring-1 focus:ring-offset-1 focus:ring-indigo-500 focus:outline-none relative"
            >
              <div id="discover_go_label" class="">Go</div>
              <div id="discover_spinner" class="absolute-center hidden">
                <div class="spinner spinner-dark"></div>
              </div>
            </button>

            <script>
                function showSpinner() {
                    const button = document.getElementById("discover_go");
                    button.classList.add("disabled");
                    const label = document.getElementById("discover_go_label");
                    label.classList.add("invisible");
                    const spinner = document.getElementById("discover_spinner");
                    spinner.classList.remove("hidden");
                    void spinner.offsetWidth; // trigger reflow
                }

                const discoverButton = document.getElementById("discover_go");
                discoverButton.addEventListener("click", () => {
                    showSpinner();
                });
            </script>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="flex flex-col gap-y-4">
      <div>
        <div>Not sure what to read? Start with one of our picks:</div>
        <div class="text-xs text-gray-500">(not affiliated with FeedRewind)</div>
      </div>

      <% @suggested_categories.each_with_index do |category, index| %>
        <div class="w-[480px] max-w-full flex flex-row">
          <% if index == 1 %>
            <div class="flex-1"></div>
          <% end %>
          <div class="w-fit">
            <div class="text-lg font-semibold leading-8"><%= category.name %></div>
            <% category.blogs.each do |blog| %>
              <div class="flex flex-row gap-2 items-baseline leading-7">
                <span class="flex-1">
                  <a class="link text-black"
                     href="<%= SubscriptionsHelper.subscription_add_feed_path(blog.feed_url) %>"
                  >
                    <%= blog.name %>
                  </a>
                  <!-- chevron-right icon -->
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-2 w-2 text-gray-500 inline -ml-[0.1875rem]" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7"/>
                  </svg>
                </span>
                <a class="w-4 h-4 link pt-[0.1875rem] shrink-0" href="<%= blog.url %>" target="_blank">
                  <!-- external-link icon -->
                  <svg xmlns="http://www.w3.org/2000/svg" class="align-baseline" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"/>
                  </svg>
                </a>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>

      <div class="w-[480px] pt-8 max-w-full flex flex-row">
        <div class="flex-1"></div>
        <div class="w-fit">
          <div class="text-lg font-semibold leading-8">Miscellaneous</div>
          <% @miscellaneous_blogs.each do |blog| %>
            <div class="flex flex-row gap-2 items-baseline leading-7">
              <span class="flex-1">
                <a class="link text-black"
                   href="<%= SubscriptionsHelper.subscription_add_feed_path(blog.feed_url) %>"
                >
                  <%= blog.name %>
                </a>
                <!-- chevron-right icon -->
                <svg xmlns="http://www.w3.org/2000/svg" class="h-2 w-2 text-gray-500 relative inline -ml-[0.1875rem]" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7"/>
                </svg>
              </span>
              <div class="rounded-full bg-slate-100 text-sm px-2"><%= blog.tag.gsub(" ", "\u00A0") %></div>
              <a class="w-4 h-4 link pt-[0.1875rem] shrink-0" href="<%= blog.url %>" target="_blank">
                <!-- external-link icon -->
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"/>
                </svg>
              </a>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <div class="text-sm flex flex-row gap-6 pt-12">
      <a href="mailto:contact@feedrewind.com" class="link-secondary">Contact</a>
      <a href="/terms" class="link-secondary">Terms</a>
      <a href="/privacy" class="link-secondary">Privacy</a>
    </div>
  </footer>
</div>