<div class="min-h-screen p-6 pb-14 flex flex-col gap-6">
  <header class="flex flex-row gap-x-6 gap-y-2 flex-wrap justify-between items-center">
    <h1 class="text-4xl">
      <a href="/" class="hover:cursor-pointer">FeedRewind</a>
    </h1>
    <div class="flex flex-row gap-2">
      <%= link_to "Sign in", login_path, class: "text-sm text-slate-700 border border-gray-300 hover:border-slate-900 rounded-full px-3 py-1.5 hover:cursor-pointer" %>
      <%= link_to "Sign up", signup_path, class: "text-sm text-white bg-slate-700 hover:bg-slate-900 rounded-full px-3 py-1.5 hover:cursor-pointer" %>
    </div>
  </header>
  <main class="flex-1 flex flex-col gap-4 xs:gap-6 sm:gap-8 md:gap-10 mt-2 xs:mt-4 sm:mt-6 md:mt-8">
    <div class="flex flex-col align-center">
      <h1 class="text-xl 3xs:text-2xl xs:text-3xl sm:text-4xl md:text-5xl font-extrabold flex flex-col headline">
        <span>Read that
          <span class="relative">
            <span class="word word1">blog</span>
            <span class="word word2">newsletter</span>
            <span class="word word3">webcomic</span>
          </span>
        </span>
        <span>you keep returning to.</span>
        <span>At your own pace.</span>
      </h1>
    </div>

    <ul class="flex flex-row flex-wrap gap-x-6 gap-y-1">
      <li class="flex flex-row gap-0.5 items-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-green-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"/>
        </svg>
        Any feed
      </li>
      <li class="flex flex-row gap-0.5 items-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-green-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"/>
        </svg>
        Your schedule
      </li>
      <li class="flex flex-row gap-0.5 items-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-green-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"/>
        </svg>
        Via email or RSS
      </li>
    </ul>

    <div class="flex flex-col gap-1">
      <% if @subscription %>
        <div>
          <%= link_to "Continue with #{@subscription.name}",
                      SubscriptionsHelper.setup_path(@subscription),
                      class: "link"
          %>
          or
          <%= link_to "try another",
                      "/discard",
                      method: :post,
                      class: "link"
          %>
        </div>
      <% else %>
        Try it out:
        <%= form_with url: "subscriptions/add", method: :post do |form| %>
          <div class="flex flex-row w-[480px] max-w-full">
            <%= form.url_field :start_url,
                               placeholder: "Feed or blog link",
                               autocomplete: "off",
                               class: "border border-slate-700 rounded-l-md w-full focus:ring-transparent focus:shadow-none"
            %>
            <button id="discover_go"
                    type="submit"
                    class="btn-no-disable rounded-l-none border border-slate-700 rounded-r-md focus:ring-1 focus:ring-offset-1 focus:ring-indigo-500 focus:outline-none relative"
            >
              <div id="discover_go_label" class="">Go</div>
              <div id="discover_spinner" class="absolute-center hidden">
                <div class="spinner spinner-dark"></div>
              </div>
            </button>

            <script>
                function showSpinner() {
                    const button = document.getElementById("discover_go");
                    button.classList.add("disabled");
                    const label = document.getElementById("discover_go_label");
                    label.classList.add("invisible");
                    const spinner = document.getElementById("discover_spinner");
                    spinner.classList.remove("hidden");
                    void spinner.offsetWidth; // trigger reflow
                }

                const discoverButton = document.getElementById("discover_go");
                discoverButton.addEventListener("click", () => {
                    showSpinner();
                });
            </script>
          </div>
        <% end %>
      <% end %>
    </div>
  </main>
  <footer>
    <div class="text-sm flex flex-row gap-6 pt-12">
      <a href="mailto:contact@feedrewind.com" class="link-secondary">Contact</a>
      <a href="/terms" class="link-secondary">Terms</a>
      <a href="/privacy" class="link-secondary">Privacy</a>
    </div>
  </footer>
</div>