<h1>Feeduler</h1>
<% if current_user %>
  <%= link_to "Dashboard", blogs_path %>
<% else %>
  <%= link_to "Sign Up", signup_path %> or
  <%= link_to "Log In", login_path %>
<% end %>
<p>Feeduler is great and you should use it!</p>
Try it out:
<%= form_with url: "blogs/add", method: :post do |form| %>
  <div>
    <%= form.url_field :start_url, placeholder: "Feed or blog link" %>
    <%= form.submit "Go" %>
  </div>
<% end %>
