<h2>Admin: Add Blog</h2>

<%= form_with url: "/admin/post_blog",
              method: :post,
              class: "flex flex-col gap-3" do |form|
%>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :feed_url %>
    <%= form.url_field :feed_url %>
  </div>

  <div>
    <%= form.label :url %>
    <%= form.url_field :url %>
  </div>

  <div>
    <%= form.label :direction %>
    <%= form.select :direction, %w[newest_first oldest_first], selected: "newest_first" %>
  </div>

  <div class="flex flex-col gap-1">
    <span><%= form.label :posts %> (one per line, https://post-1 Post 1)</span>
    <%= form.text_area :posts, rows: 20, cols: 80 %>
  </div>

  <div class="flex flex-col gap-1">
    <span><%= form.label :post_categories %> (one per line, https://post-1 Category 1)</span>
    <%= form.text_area :post_categories, cols: 80 %>
  </div>

  <div>
    <span><%= form.label :top_categories %> (Top;Articles;Everything)</span>
    <%= form.text_field :top_categories %>
  </div>

  <div class="flex flex-col gap-1">
    <span><%= form.label :same_hosts %> (one per line)</span>
    <%= form.text_area :same_hosts %>
  </div>

  <div>
    <%= form.label :expect_tumblr_paths %>
    <%= form.check_box :expect_tumblr_paths %>
  </div>

  <div>
    <%= form.label :update_action %>
    <%= form.select :update_action, %w[update_from_feed_or_fail no_op fail recrawl] %>
  </div>

  <div>
    <%= form.submit "Save", class: "btn" %>
  </div>
<% end %>