<div id="posts">
  <% if ordered_blog_posts.length <= 12 %>
    <div class="flex flex-col gap-1.5">
      <% ordered_blog_posts.each_with_index do |blog_post, index| %>
        <div>
          <a href="<%= blog_post.url %>" class="link text-black" target="_blank"><%= blog_post.title %></a>
          <% if index == 0 %>
            <span class="text-gray-500">(earliest)</span>
          <% elsif index == ordered_blog_posts.length - 1 %>
            <span class="text-gray-500">(newest)</span>
          <% end %>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="flex flex-col gap-1.5">
      <% ordered_blog_posts[...5].each_with_index do |blog_post, index| %>
        <div>
          <a href="<%= blog_post.url %>" class="link text-black" target="_blank"><%= blog_post.title %></a>
          <% if index == 0 %>
            <span class="text-gray-500">(earliest)</span>
          <% end %>
        </div>
      <% end %>
      <div id="show_more_posts_line_<%= suffix %>" class="flex flex-row gap-[0.3125rem] my-[0.3125rem] items-center">
        <span class="text-gray-400">–</span>
        <a id="show_more_posts_<%= suffix %>" class="link text-black"><%= ordered_blog_posts.length - 10 %> more</a>
        <span class="text-gray-400">–</span>
      </div>
      <div id="more_posts_<%= suffix %>" class="flex flex-col gap-1.5 hidden">
        <% ordered_blog_posts[5...-5].each do |blog_post| %>
          <div>
            <a href="<%= blog_post.url %>" class="link text-black" target="_blank"><%= blog_post.title %></a>
          </div>
        <% end %>
      </div>
      <% ordered_blog_posts[-5..].each_with_index do |blog_post, index| %>
        <div>
          <a href="<%= blog_post.url %>" class="link text-black" target="_blank"><%= blog_post.title %></a>
          <% if index == 4 %>
            <span class="text-gray-500">(newest)</span>
          <% end %>
        </div>
      <% end %>
    </div>

    <script>
        document.getElementById("show_more_posts_<%= suffix %>").addEventListener("click", async () => {
            document.getElementById("show_more_posts_line_<%= suffix %>").classList.add("hidden");
            document.getElementById("more_posts_<%= suffix %>").classList.remove("hidden");
        });
    </script>
  <% end %>
</div>