<div class="flex flex-col gap-6">
  <span>
    <span>You're all set!</span>
    <span id="arrival_msg">
      <% if arrival_message == :arrived_one %>
        We've just sent the first entry to <span class="font-semibold"><%= email %></span>.
      <% elsif arrival_message == :arrived_many %>
        We've just sent the first entries to <span class="font-semibold"><%= email %></span>.
      <% elsif arrival_message == :will_arrive_one %>
        First entry will be sent on <span class="font-semibold"><%= will_arrive_date %></span> to <span class="font-semibold"><%= email %></span>.
      <% else %>
        First entries will be sent on <span class="font-semibold"><%= will_arrive_date %></span> to <span class="font-semibold"><%= email %></span>.
      <% end %>
    </span>
  </span>

  <p class="inline-flex flex-row gap-2">
    <%= link_to subscriptions_path, class: "btn-secondary bg-gray-50 inline-flex flex-row gap-1 items-center" do %>
      <!-- arrow-left icon -->
      <svg xmlns="http://www.w3.org/2000/svg" class="w-3 h-3 mt-0.5 inline" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"/>
      </svg>
      Dashboard
    <% end %>
    <%= link_to SubscriptionsHelper::subscription_path(subscription),
                class: "btn-secondary bg-gray-50 inline-flex flex-row gap-0.5 items-center" do
    %>
      <!-- cog icon -->
      <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 mt-0.5 inline" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"/>
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"/>
      </svg>
      Manage
    <% end %>
  </p>
</div>