<div class="flex flex-col gap-7">
  <h2>Dashboard</h2>

  <span><%= link_to "+ Add", subscriptions_add_path, class: "btn" %></span>

  <% if @subscriptions.length.zero? %>
    <p>Nothing here. Want to add some?</p>
  <% else %>
    <div class="flex flex-col gap-7">
      <% setting_up_subscriptions = @subscriptions.filter { |sub| sub.status != "live" } %>
      <% if setting_up_subscriptions.length > 0 %>
        <div class="flex flex-col gap-1">
          <div class="flex flex-col gap-0.5">
            <div class="text-lg font-semibold">
              Setting Up
            </div>
            <div class="w-full h-px bg-slate-300"></div>
          </div>
          <div class="grid grid-cols-[1fr_auto] gap-x-4 gap-y-1 items-center">
            <% setting_up_subscriptions.each do |subscription| %>
              <%= link_to subscription.name,
                          SubscriptionsHelper.setup_path(subscription),
                          class: "justify-self-start break-word text-base font-semibold leading-relaxed underline"
              %>
              <%= link_to "Remove", subscription_path(subscription),
                          method: :delete,
                          data: { confirm: "Delete #{subscription.name}?" },
                          class: "justify-self-end btn-secondary-red"
              %>
            <% end %>
          </div>
        </div>
      <% end %>

      <% active_subscriptions = @subscriptions.filter do |sub|
        sub.status == "live" && sub.subscription_posts.count { |post| !post.is_published } > 0
      end %>
      <% if active_subscriptions.length > 0 %>
        <div class="flex flex-col gap-0.5">
          <div class="text-lg font-semibold">
            Reading
          </div>
          <div class="w-full h-px bg-slate-300"></div>
          <div class="grid grid-cols-[1fr_auto] gap-x-4 gap-y-0.5 items-center">
            <% active_subscriptions.each do |subscription| %>
              <% total_count = subscription.subscription_posts.count %>
              <% published_count = subscription.subscription_posts.count(&:is_published) || 0 %>
              <%= link_to subscription.name,
                          subscription,
                          class: "justify-self-start break-word text-base font-semibold leading-relaxed underline"
              %>
              <span class="justify-self-end text-sm text-gray-500">
                <% verb = subscription.is_paused ? "published, paused" : "published" %>
                <%= published_count %>/<%= total_count %> <%= verb %>
              </span>
            <% end %>
          </div>
        </div>
      <% end %>

      <% done_subscriptions = @subscriptions.filter do |sub|
        sub.status == "live" && sub.subscription_posts.count { |post| !post.is_published } == 0
      end %>
      <% if done_subscriptions.length > 0 %>
        <div class="flex flex-col gap-0.5">
          <div class="text-lg font-semibold">
            Done
          </div>
          <div class="w-full h-px bg-slate-300"></div>
          <div class="grid grid-cols-[1fr_auto] gap-x-4 gap-y-0.5 items-center">
            <% done_subscriptions.each do |subscription| %>
              <% published_count = subscription.subscription_posts.count(&:is_published) || 0 %>
              <%= link_to subscription.name,
                          subscription,
                          class: "justify-self-start break-word text-base font-semibold leading-relaxed underline"
              %>
              <span class="justify-self-end text-sm text-gray-500">
                <%= published_count %> published
              </span>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>