<style>
    .subs {
        display: grid;
        grid-template-columns: 1fr auto auto;
        grid-column-gap: 1em;
        grid-row-gap: 0.1em;
        align-items: center;
    }

    .sub-name {
        justify-self: start;
        word-break: break-word;
    }

    .sub-status {
        justify-self: end;
    }

    .add-button {
        margin-top: 0.1em;
    }
</style>

<div>
  Logged in as <%= current_user.email %>.
  <%= link_to "Log Out", logout_path %>
</div>

<h1>Dashboard</h1>

<% if @subscriptions.length.zero? %>
  <p>Nothing here. Want to add some?</p>
<% else %>
  <div class="subs">
    <% @subscriptions.each do |subscription| %>
      <% total_count = subscription.subscription_posts.count %>
      <% published_count = subscription.subscription_posts.group(:is_published).count[true] || 0 %>
      <span class="sub-name">
        <% if subscription.status == "live" %>
          <%= link_to subscription.name, subscription %>
        <% else %>
          <%= link_to subscription.name, SubscriptionsHelper.setup_path(subscription) %>
          <% if subscription.blog.status == "crawl_failed" %>
            (❌)
          <% else %>
            (⏳)
          <% end %>
        <% end %>
      </span>
      <span class="sub-status">
        <% if subscription.status == "live" %>
          <% verb = subscription.is_paused ? "published, paused" : "published" %>
          <%= published_count %>/<%= total_count %> <%= verb %>
        <% end %>
      </span>
      <span>
        <%= link_to "Delete", subscription_path(subscription),
                    method: :delete,
                    data: { confirm: "Delete #{subscription.name}?" } %>
      </span>
    <% end %>
  </div>
<% end %>

<%= link_to "Add", subscriptions_add_path, class: "add-button" %>