<% if @current_user %>
  <%= link_to "← Dashboard", subscriptions_path %>
<% else %>
  <%= link_to "← Main page", root_path %>
<% end %>
<h1><%= @subscription.name %></h1>
<div style="overflow-wrap: break-word">
  <% if @subscription.status == "waiting_for_blog" %>
    <% if @subscription.blog.status == "crawl_in_progress" %>
      <%=
        render partial: "setup_blog_crawl_in_progress",
               locals: {
                 subscription: @subscription,
                 blog: @subscription.blog,
                 client_token: @client_token_value,
                 blog_crawl_progress: @blog_crawl_progress
               }
      %>
    <% elsif @subscription.blog.status == "crawl_failed" %>
      <%= render partial: "setup_blog_failed", locals: { subscription: @subscription } %>
    <% elsif %w[crawled_voting crawled_confirmed crawled_looks_wrong].include?(@subscription.blog.status) %>
      <%= render partial: "setup_blog_confirm", locals: { subscription: @subscription } %>
    <% else %>
      <%= raise "Unexpected blog status: #{@subscription.blog.status}" %>
    <% end %>
  <% elsif @subscription.status == "setup" %>
    <% if @current_user %>
      <%= render partial: "setup_subscription_set_schedule", locals: { subscription: @subscription } %>
    <% else %>
      <%= render partial: "setup_subscription_presenting_goods", locals: { subscription: @subscription } %>
    <% end %>
  <% elsif @subscription.status == "live" %>
    <%= render partial: "setup_subscription_heres_feed", locals: { subscription: @subscription } %>
  <% else %>
    <%= raise "Unexpected subscription status: #{@subscription.status}" %>
  <% end %>
</div>
