<div class="flex flex-col gap-6">
  <h1 class="text-4xl text-center">
    <a href="/" class="hover:cursor-pointer">FeedRewind</a>
  </h1>
  <div class="text-2xl text-center">Sign up for FeedRewind</div>

  <%= form_tag signup_path, id: "signup_form", novalidate: true do %>
    <div class="flex flex-col gap-2">
      <% if @user.errors.any? %>
        <div class="bg-red-100 text-red-800 rounded-md w-full p-3 mb-5">
          <%= @user.errors.full_messages.first %>
        </div>
      <% end %>

      <div class="flex flex-col gap-1">
        <%= label_tag :email %>
        <div class="flex flex-col">
          <%= email_field_tag :email,
                              nil,
                              placeholder: "your@email.com",
                              class: "rounded-md border border-gray-300 placeholder:text-gray-400",
                              autocomplete: "username",
                              required: true
          %>
          <span id="email_error"
                class="invisible self-end text-sm font-semibold text-red-600"
                aria-live="polite"
          >
            No error
          </span>
        </div>
      </div>
      <div class="flex flex-col gap-1">
        <%= label_tag "new-password", "Password" %>
        <div class="flex flex-col">
          <%= password_field_tag "new-password",
                                 nil,
                                 placeholder: "correct horse battery staple",
                                 class: "rounded-md border border-gray-300 placeholder:text-gray-400",
                                 autocomplete: "new-password",
                                 required: true,
                                 minlength: 8
          %>
          <span id="password_error"
                class="invisible self-end text-sm font-semibold text-red-600"
                aria-live="polite"
          >
            No error
          </span>
        </div>
      </div>

      <%= hidden_field_tag "timezone" %>
      <script>
        document.getElementById("timezone").value = Intl.DateTimeFormat().resolvedOptions().timeZone;
      </script>

      <%= hidden_field_tag "time_offset" %>
      <script>
          document.getElementById("time_offset").value = new Date().getTimezoneOffset();
      </script>

      <%= submit_tag "Sign up", class: "btn" %>
    </div>
  <% end %>

  <%= render partial: "signup_login/validation",
             locals: {
               email_input_id: "email",
               email_error_id: "email_error",
               password_input_id: "new-password",
               password_error_id: "password_error",
               form_id: "signup_form"
             }
  %>

  <div class="flex flex-col gap-5">
    <div class="text-sm text-gray-500 text-center">
      By signing up you agree to our
      <a href="/terms" class="underline decoration-from-font hover:cursor-pointer">terms of service</a>.
    </div>

    <div class="text-sm text-gray-500 text-center">
      Already have an account?
      <%= link_to "Sign in",
                  login_path,
                  class: "btn-secondary"
      %>
    </div>
  </div>
</div>