<% feeds.supported_feeds.each do |feed| %>
  <div style="display:flex; justify-content:space-between">
    <span>
      <b><%= feed.title %></b>
      <br>
      <%= feed.url %>
    </span>
    <span>
      <%= button_to "Discover posts", blogs_path, action: :post, params: {
        start_page_id: feeds.start_page_id,
        start_feed_id: feed.id,
        start_feed_final_url: feed.final_url,
        name: feed.title
      } %>
    </span>
  </div>
<% end %>

<% feeds.unsupported_feeds.each do |unsupported_feed| %>
  <div style="display:flex; justify-content:space-between">
    <span>
      <b><%= unsupported_feed.title %></b>
      <br>
      <%= unsupported_feed.url %>
    </span>
    <span>Not supported</span>
  </div>
<% end %>

<% if feeds.supported_feeds.empty? && feeds.unsupported_feeds.empty? %>
  <div>This link doesn't seem to have a feed. Try another one?</div>
<% end %>