<% if feeds_data.feeds %>
  <div class="grid grid-cols-[minmax(0,_1fr)_min-content] gap-6 w-full">
    <% feeds_data.feeds.each do |feed| %>
      <div>
        <div class="flex flex-col">
          <div class="flex flex-row gap-[0.3125rem] items-center">
            <button class="link font-semibold text-black feeds-choose"
                    data-start_feed_id="<%= feed.id %>"
            >
              <%= feed.title %>
            </button>
            <div class="feeds-choose-spinner spinner spinner-light hidden"></div>
          </div>
          <span class="text-sm text-gray-500 break-all">
            <%= feed.url %>
          </span>
          <span id="bad_feed_<%= feed.id %>"
                class="text-sm font-semibold text-red-600 hidden"
          >
            Couldn't read this feed
          </span>
        </div>
      </div>

      <div>
        <button class="relative feeds-choose feeds-choose-btn btn-no-disable"
                data-start_feed_id="<%= feed.id %>"
        >
          <div class="feeds-choose-label">Continue</div>
          <div class="feeds-choose-spinner absolute-center hidden">
            <div class="spinner spinner-dark"></div>
          </div>
        </button>
      </div>
    <% end %>
  </div>
<% else %>
  <div id="feeds_error">
    <% if feeds_data.not_a_url %>
      <a href="https://duckduckgo.com/?q=<%= Addressable::URI.escape(feeds_data.start_url) %>"
         target="_blank"
         class="link">
        Search web for a link to "<%= feeds_data.start_url %>" →
      </a>
    <% elsif feeds_data.are_no_feeds %>
      <%= feeds_data.start_url %> doesn't appear to have a feed. Try another link?
    <% elsif feeds_data.could_not_reach %>
      Couldn't reach <%= feeds_data.start_url %>. Try another link?
    <% elsif feeds_data.bad_feed %>
      Couldn't read the feed at <%= feeds_data.start_url %>. Try another link?
    <% end %>
  </div>
<% end %>