<% if @current_user %>
  <%= link_to "← Dashboard", subscriptions_path %>
<% else %>
  <%= link_to "← Main page", root_path %>
<% end %>
<h1>Add Blog</h1>
<%= form_with url: "/subscriptions/discover_feeds", method: :post, local: false do |form| %>
  <div>
    <%= form.url_field :start_url, value: @start_url, placeholder: "Feed or blog link" %>
    <%= form.submit "Go" %>
  </div>
<% end %>
<br>
<div id="feeds">
  <% if @feeds %>
    <%= render partial: "feeds", locals: { feeds: @feeds } %>
  <% end %>
</div>
<script>
    {
        let start_url_field = document.getElementById("start_url");
        let feeds = document.getElementById("feeds");
        document.addEventListener('turbolinks:before-render', () => {
            start_url_field.value = "";
            feeds.innerHTML = "";
        });
    }
</script>