<!DOCTYPE html>
<html>
<head>
  <title>FeedRewind</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind" %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'application' %>
</head>

<body class="container mx-auto max-w-[360px]">
<%= render partial: "popups/popups" %>
<main class="mx-4 my-8 modal-inert">
  <%= yield %>
</main>
</body>
</html>
